.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0 3rem 0;
}

/******************************************************************/

/* laptop */
@media (min-width: 741px) {
  .howToGetInvolvedItemsContainer {
    padding: 0 10vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/******************************************************************/

/* mobile */
@media (max-width: 740px) {
  .howToGetInvolvedItemsContainer {
    padding: 0;
  }
}