/* laptop */
@media (min-width: 601px) {
  .iconContainer{
    border: 1px solid #f8f8f8;
    border-radius: 100px;
  }
}

/* mobile */
@media (max-width: 600px) {
  .iconContainer {
    padding-bottom: 3vh;
  }
}

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vh 5vw;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vw;
  width: 10vw;
}

.titleContainer {
  padding: 1em 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titleText {
  font-size: 1.5em;
  font-weight: bold;
  min-height: 2.375em;
  color: rgb(69, 158, 172);
}

.descriptionText {
  color: grey;
  text-align: center;
}