.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chartContainer {
  display: grid;
  grid-template-columns: 33vw 55vw;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 2rem 0;
}

.chartDescription {
  color: white;
  font-size: 2.5rem;
  text-align: center;
  white-space: nowrap;
  margin-bottom: 6rem;
}

.bigNumber {
  font-size: 8rem;
  line-height: 9rem;
  font-weight: bold;
}

.iconsContainer {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
}

.icon {
  cursor: pointer;
  margin-right: 2rem;
  border-radius: 50%;
  padding: 1rem;
}

.description {
  padding: 0 3rem 3rem 3rem;
  color: white;
  font-size: 1.5rem;
  line-height: 2rem;
}