/* DESKTOP */
@media (min-width: 769px) {
  .chartContainer {
    display: grid;
    grid-template-columns: 33vw 55vw;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 2rem 0;
  }

  .bigNumber {
    font-size: 8rem;
    line-height: 9rem;
    font-weight: bold;
  }

  .chartDescription {
    color: white;
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: center;
    margin-bottom: 6rem;
  }

  .iconsContainer {
    padding: 2rem 0;
  }

  .description {
    padding: 0 3rem 3rem 3rem;
    color: white;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

/* MOBILE */
@media (max-width: 768px) {
  .root {
    text-align: center;
  }

  .chartContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 2rem 0;
  }

  .bigNumber {
    font-size: 4rem;
    line-height: 4.5rem;
    font-weight: bold;
  }

  .chartDescription {
    color: white;
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 3rem;
  }

  .chart {
    width: 90vw;
  }

  .iconsContainer {
    padding: 2rem 0 1rem 0;
  }

  .description {
    padding: 0 1.5rem 2rem 1.5rem;
    color: white;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

/* ******************************* */

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.iconsContainer {
  display: flex;
  justify-content: center;
}

.icon {
  cursor: pointer;
  margin: 0 1rem;
  border-radius: 50%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
