.button {
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  user-select: none;
  padding: 0;
  margin: 0;
  align-items: center;
  display: inline-flex;
  width: auto;
  min-width: 4rem;
  justify-content: center;
  border: 1px solid transparent;
}

.small {
  font-size: 0.75rem;
  padding: 0.3125rem 0.625rem;
}

.medium {
  padding: 0.5rem 0.75rem;
}

.large {
  font-size: 1.25rem;
  padding: 0.75rem 1.25rem;
}

.fullWidth {
  display: block;
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.solid {
  background-color: rgb(69, 158, 172);
  color: white;
  transition: all 0.25s ease-in;
  -webkit-transition: all 0.25s ease-in;
}

/* .solid:hover {
  background-color: white;
  color: rgb(69, 158, 172);
  border-color: rgb(69, 158, 172);
} */

.text {
  background-color: transparent;
  color: rgb(69, 158, 172);
  transition: all 0.25s ease-in;
  -webkit-transition: all 0.25s ease-in;
}

.text:hover {
  color: rgb(76, 162, 175);
}

.outlined {
  border: 1px solid rgb(69, 158, 172);
  background-color: transparent;
  color: rgb(69, 158, 172);
  transition: all 0.25s ease-in;
  -webkit-transition: all 0.25s ease-in;
}

.outlined > a {
  color: rgb(69, 158, 172);
}

.outlined:hover {
  color: white;
  background-color: rgb(69, 158, 172);
  border: 1px solid transparent;
}

.roundedCorners {
  border-radius: 0.3125rem;
}

.outlined:focus, .solid:focus, .text:focus {
  outline: 0;
}