/* mobile */
@media (max-width: 600px) {
  .header {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 999;
  }
}

.header {
  padding-bottom: 8vh;
}

.titleContainer, .currentProjectsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title { 
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 3vh;
}

.divider {
  width: 3vw;
  height: 1vh;
  border-radius: 4px;
  background-color: rgb(69, 158, 172);
}

.featureContainer {
  padding: 5vh 15vw;
  display: grid;
  grid-template-columns: 1fr 1.75fr;
  grid-gap: 4vw;
}

.featureText {
  font-size: 1.5rem;
  color: gray;
}

.bigText {
  padding-bottom: 10vh;
  font-weight: bold;
  font-size: 2rem;
  line-height: 4vh;
  color: black;
}

.smallText {
  line-height: 4vh;
  padding-bottom: 20vh
}

.redirect {
  display: flex;
  justify-content: center;
}

.featurePicture {
  width: 25vw;
  height: 70vh;
  border-radius: 10px;

  background-image: url("../../Images/5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.statsContainer {
  height: 30vh;
  margin-top: 5vh;
  margin-bottom: 10vh;
  width: 100%;

  background-image: url("../../Images/6.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  text-align: center;
}

.statsItem{
  color: white;
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
  line-height: 4vh;
}

.numberCounterItem{
  font-size: 3rem;
}

.footerContainer {
  margin-top: 5vh;
}