/* mobile */
@media (max-width: 600px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
  }
}

.featurePictureContainer { 
  height: 100vh;
  width: 100vw;
  position: relative; 
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featurePictureContainer::before {
  pointer-events: none;
  content: ' ';
  position: fixed; 
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: white;
  background: url("../../../Images/Feature/5.jpg") no-repeat center center;
  background-size: cover;
  will-change: transform;
  z-index: -1;
}

.title {
  position: absolute;
  top: 25%;
  left: 8%;
  font-size: 4rem;
  line-height: 8rem;
  text-align: left;
}

.buttonContainer {
  position: absolute;
  top: 85%;
  left: 40%;
}

.buttonContainer > button, .buttonContainer > button > a {
  color: white;
  border-color: white;
}

.buttonContainer > button:hover {
  border-color: none;
}

.iconsContainer {
  margin: 4rem 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconContainer {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: solid thin rgba(0, 0, 0, 0.1); */
  width: 25rem;
  height: 25rem;
  margin: 0 1rem;
  border-radius: 10px; 
}

.iconContainer:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.icon {
  width: 14rem;
  height: 14rem;
  background-size: cover;
}

.iconText {
  font-size: 0.875rem;
  padding: 1.5rem 1.25rem 0 1.25rem;
  text-align: center;
  color: black;
}

.iconLink {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  color: var(--main-color);
}

