/* mobile */
@media (max-width: 600px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
  }
}

.featurePictureContainer { 
  height: 100vh;
  width: 100vw;
  position: relative; 
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featurePictureContainer::before {
  pointer-events: none;
  content: ' ';
  position: fixed; 
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: white;
  background: url("../../../Images/HomePageBackground2.jpg") no-repeat center center;
  background-size: cover;
  will-change: transform;
  z-index: -1;
}

.title {
  position: absolute;
  top: 35%;
  color: white;
  font-size: 5rem;
  opacity: 0.8;
  line-height: 6rem;
  text-align: center;
}

.button {
  position: absolute;
  top: 90%;
  font-size: 1.5rem;
  opacity: 0.8;
  color: white;
  border: solid thin white;
  padding: 0.75rem 1rem;
  cursor: pointer;
  border-radius: 8px;
}

.button:hover {
  opacity: 1;
  background-color: rgb(69, 158, 172);
  border-color: rgb(69, 158, 172);
}

.iconsContainer {
  padding: 0 10rem;
  width: 100vw;
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.iconsContainerTitle {
  padding-top: 2rem;
}

.iconContainer {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid thin rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.iconContainer:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.icon {
  width: 15rem;
  height: 15rem;
  background-size: cover;
}

.iconLink {
  cursor: pointer;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  color: rgb(69, 158, 172);
  display: flex;
  justify-content: center;
}