/* laptop */
@media (min-width: 741px) {
  .root {
    margin: 2rem 4rem;
  }
}

/* mobile */
@media (max-width: 740px) {
  .root {
    margin: 3rem 2rem;
  }
}

.containerTitle {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 1rem;
  border-bottom: thin solid var(--light-gray-color);
}

.jobPostingContainer {
  padding-top: 0.5rem;
}

.jobPosting {
  color: var(--text-base);
  border-bottom: thin solid var(--light-gray-color);
  padding: 1rem 0;
  margin: 0 0 0 2rem;
}

.jobTitle {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

.jobTitle > a {
  font-weight: 600;
  text-decoration: none;
  color: var(--text-base);
}

.jobTitle > a:hover {
  color: var(--text-base);
  text-decoration: underline;
}