/* laptop */
@media (min-width: 601px) {  
  .title{
    font-size: 5rem;
    top: 40%;
    left: 13%;
  }

  .logo{
    padding: 0 1rem;
  }
}

/* mobile */
@media (max-width: 600px) {
  .title{
    font-size: 3rem;
    top: 30%;
    left: 20%;
    line-height: 6rem
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
  }
}

.featurePictureContainer { 
  width: 100vw;
  height: 100vh;
  position: relative; 
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.featurePictureContainer::before {
  pointer-events: none;
  content: ' ';
  position: fixed; 
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: white;
  background: url("../../../Images/Feature/1.jpg") no-repeat center center;
  background-size: cover;
  will-change: transform;
  z-index: -1;
}

.title {
  position: absolute;
  padding: 3rem 0;
  background-color: white;
  color: black;
  opacity: 0.8;
}

.bold {
  background-color: black;
  color: white;
  padding: 1.5rem 2rem;
  font-weight: bold;
}