/* laptop */
@media (min-width: 741px) {  
  .container {
    height: 45vh;
    display: flex;
    justify-content: space-between;
    margin: 1rem;
  }

  .reverseContainerDirection {
    flex-direction: row-reverse;
  }

  .textContainer {
    width: 57vw;
    padding: 0 5rem;
  }
}

/* mobile */
@media (max-width: 740px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1vh;
  }

  .textContainer {
    width: 95vw;
    text-align: center;
    align-items: center;
    margin-top: 1vh;
    padding: 1.5rem;
  }
}

.textContainer {
  background-color: var(--main-color);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.75rem;
  line-height: 2.75rem;
}

.dramaticText {
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  padding-bottom: 1rem;
}

.bold {
  font-weight: bold;
}