.container {
  height: 45vh;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.textContainer {
  background-color: var(--main-color);
  color: white;
  width: 57vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.75rem;
  line-height: 2.75rem;
  padding: 0 5rem;
}

.dramaticText {
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  padding-bottom: 1rem;
}

.bold {
  font-weight: bold;
}