/* laptop */
@media (min-width: 741px) {
  .root {
    width: 100vw;
    padding: 4rem 10rem 3rem 2rem;
  }

  .title {
    padding-bottom: 1.5rem;
    font-size: 3rem;
    font-weight: bold;
    color: var(--base-text);
  }

  .description {
    font-size: 1.25rem;
    line-height: 2rem;
    color: var(--gray-color);
  }
}

/* mobile */
@media (max-width: 740px) {
  .root {
    width: 100vw;
    padding: 4vh 6vw;
    text-align: center;
  }

  .title {
    padding-bottom: 1rem;
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: bold;
    color: var(--base-text);
  }

  .description {
    font-size: 1.25rem;
    line-height: 2rem;
    color: var(--gray-color);
  }
}

/* ************************************* */
