.root {
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 2.5rem;
  text-align: center;
}

.description {
  text-align: center;
  font-size: 1.25rem;
  line-height: 2.25rem;
  padding: 0 18vw;
  padding-bottom: 4vh;
}

.divider {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  width: 5vw;
  height: 0.5vh;
  border-radius: 4px;
  background-color: rgb(69, 158, 172);
}