.description {
  padding-top: 3vh;
  color: white;
  font-weight: bold;
}

.button {
  background-color: rgb(69, 158, 172);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.buttonText {
  color: white;
  text-decoration: none;
}

/******************************************************************/

/* laptop */
@media (min-width: 601px) {
  .root {
    height: 50vh;
    width: 18vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 4vh;
    margin: 0 4vw 5vh 4vw;
    border-radius: 10px;
  }
}

/******************************************************************/

/* mobile */
@media (max-width: 600px) {
  .root {
    height: 50vh;
    width: 75vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 4vh;
    margin: 0 4vw 5vh 4vw;
    border-radius: 10px;
  }
}