.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleContainer {
  padding: 7vh 0;
  font-size: 3.5rem;
}

.howToGetInvolvedItemsContainer {
  padding: 0 10vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.highlight {
  background: url('../../Images//BrushStrokes/brushStroke1.svg');
  background-repeat: no-repeat;
  background-size: 100% 95%;
  padding: 14vh 4vw;
  font-weight: bold;
  color: rgb(51,51,51);
  }