/* laptop */
@media (min-width: 741px) {
  .heroPictureContainer, .heroPictureContainer::before { 
    height: 100vh;
  }

  .heroText {
    top: 30vh;
    left: 17vw;
    font-size: 2.5rem;
    line-height: 3.25rem;
    text-align: center;
    width: 65vw;
  }

  .boldHeroText {
    text-align: center; 
    font-weight: bold; 
    font-size: 3rem; 
    margin-bottom: 0.5rem;
  }
}

/* mobile */
@media (max-width: 740px) {
  .heroPictureContainer, .heroPictureContainer::before { 
    height: 87vh;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
  }

  .boldHeroText {
    font-weight: bold; 
    font-size: 2.5rem; 
    margin-bottom: 0.5rem;
  }

  .heroText {
    width: 100vw;
    bottom: 0;
    left: 0;
    font-size: 1.25rem;
    line-height: 2rem;
  }
}

.heroPictureContainer {
  width: 100vw;
  position: relative; 
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.heroPictureContainer::before {
  pointer-events: none;
  content: ' ';
  position: fixed; 
  width: 100vw;
  top: 0;
  left: 0;
  background-color: white;
  background: url("../../../Images/Hero/OurWorkPage.jpg") no-repeat center center;
  background-size: cover;
  will-change: transform;
  z-index: -1;
}

.header {
  padding-bottom: 8vh;
}

.mapTitle {
  font-size: 2rem;
  padding: 2rem 0;
}