/* laptop */
@media (min-width: 601px) {
  .headerLinks {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 0.5vw;
    font-size: 1.4rem;
  }

  .link > a {
    color: white;
    font-weight: bold;
  }

  .link > a:hover {
    color: var(--main-color);
  }

  .link {
    padding: 0vw 1vw;
  }
}

/* mobile */
@media (max-width: 600px) {
  .headerLinks {
    font-size: 1.25rem;
    background-color: white;
    text-align: center;
  }
  
  .link {
    padding: 1vh 0vh;
  }
  
  .link > a {
    text-decoration: none;
    color: black;
  }

  .link > .active {
    color: var(--main-color);
    font-weight: bold;
  }
}