/* laptop */
@media (min-width: 601px) {
  .headerLinks {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2vw;
    font-size: 1.25em;
  }

  .link > a, .button > a, .donateButton > a, .donateButton:hover > a {
    color: white;
    text-decoration: none;
  }

  .donateButton:hover {
    background-color: rgb(69, 158, 172);
    border: solid thin rgb(69, 158, 172);
  }
  
  .link > a:hover {
    color: rgb(69, 158, 172);
  }

  .blackLink > a {
    color: black;
  }

  .link, .blackLink {
    padding: 0vw 1vw;
  }

  .donateButton {
    border-radius: 4px;
    border: solid thin white;
    padding: 0.5rem 0.6rem;
  }
}

/* mobile */
@media (max-width: 600px) {
  .headerLinks {
    font-size: 1.25em;
    background-color: white;
    text-align: center;
  }
  
  .link {
    padding: 1vh 0vh;
  }
  
  .link > a {
    text-decoration: none;
    color: black;
  }

  .link > .active {
    color: rgb(69, 158, 172);
    font-weight: bold;
  }
}