.headerLinks {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 2vw;
  font-size: 1.3vw;
}

.link {
  padding: 0vw 1vw;
}

.link > a, .button > a {
  color: white;
  text-decoration: none;
}

.link > a:hover {
  color: rgb(69, 158, 172);
}

.active {
  font-weight: bold;
} 