/* laptop */
@media (min-width: 601px) {
  .root {
    width: 20em;
    height: 32em;
    border-radius: 2em;
    background-color: white;
    box-shadow: 2px 5px 20px 0 rgba(0,0,0,.14);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cardContent {
    background-color: rgb(251, 251, 251);
    width: 18em;
    height: 30em;
    border-radius: 1em;
    padding: 1em;
  }
  
  .cardContent:hover {
    background-color: rgb(212, 233, 231);
  }

  .card1 {
    transform: translate(0, 10vh) rotate(5deg);
  }

  .card2 {
    transform: translate(0, -10vh) rotate(-5deg);
  }

  .card3 {
    transform: translate(1vw, 15vh) rotate(-10deg);
  }

  .number {
    font-size: 2.5em;
    color: rgba(51,51,51, 0.4);
    padding-top: 1vh;
  }
}

/****************************************************/

/* mobile */
@media (max-width: 600px) {
 .root {
    width: 100vw;
    padding: 4vh 10vw;
 }

 .cardContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

 .number {
  font-size: 10em;
  color: rgba(51,51,51, 0.1);
  transform: translate(-4vw, 5vh);
  }
}

.title {
  color: rgb(69, 158, 172);
  padding-top: 4vh;
  font-size: 2.75em;
}

.description {
  align-self: center;
  padding-top: 2vh;
  padding-left: 0.1vw;
  color: gray;
  line-height: 2rem;
}