.root {
  margin-left: -1rem;
  display: flex;
  align-items: center; 
}

.inputContainer {
  border: thin solid white;
  display:inline-block;
  padding: 1.5rem 1.5rem 1.5rem 1.75rem;
  transform: skew(30deg);
  -webkit-transform: skew(-30deg);
  -moz-transform: skew(-30deg);
  -o-transform: skew(-30deg);
}

.inputContainer input {
  outline: none;
  border: none;
  transform: skew(30deg);
  -webkit-transform: skew(30deg);
  -moz-transform: skew(30deg);
  -o-transform: skew(30deg);
}

.input {
  background-color: var(--main-color);
  -webkit-appearance: none; 
  box-shadow: none;
  width: 10rem;
  color: white;
}

.inputContainer:focus-within, .input:focus {
  background-color: white;
  color: black;
}

.input::placeholder {
  color: white;
}

.buttonContainer {
  border: thin solid white;
  display:inline-block;
  padding: 1.42rem 1.5rem 1.42rem 1.75rem;
  transform: skew(30deg);
  -webkit-transform: skew(-30deg);
  -moz-transform: skew(-30deg);
  -o-transform: skew(-30deg);
}

.buttonContainer input {
  outline: none;
  border: none;
  transform: skew(30deg);
  -webkit-transform: skew(30deg);
  -moz-transform: skew(30deg);
  -o-transform: skew(30deg);
}

.buttonContainer {
  display: flex;
  justify-content: center;
  width: 6rem;
  cursor: pointer;
  height: 100%;
}