.root {
  height: 40vh;
  position: relative;
  background-image: url('../../Images/5.jpg');
  background-position: 0% 30%;
  background-repeat: no-repeat;
  background-size: cover;
}

.textContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.title {
  font-size: 2.5rem;
  padding-bottom: 1rem;
}

.subTitle {
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: center;
  padding: 2rem 20rem;
}