.header {
  width: 100vw;
  display: grid;
  grid-template-columns: 20% 80%;
}

.headerLeftBlack {
  display: flex;
  justify-content: center;
  width: 19em;
  padding: 2vh 0;
  min-height: fit-content;
  border-radius: 0 0 10px 0;
  background-color: white;
  color: rgb(69, 158, 172);

  -webkit-transition: background-color 0.4s; /* Safari */
  transition: background-color 0.4s;
}

.headerLeftBlack > a {
  text-decoration: none;
  font-size: 2.5em;
  font-weight: 300;
  -webkit-transition: color 0.4s; /* Safari */
  transition: color 0.4s;
  color: black;
}

.headerLeft:hover {
  cursor: pointer;
}

.headerLeft:hover a {
  color: white;
}

.mobileHeader {
  width: 100vw;
  height: 9vh;
  display: grid;
  grid-template-columns: 88% 12%; 
  background-color: white;
}

.mobileMenu {
  max-height: 0;
  overflow-y: hidden;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.mobileMenuIcon {
  padding-top: 3vh;
}

.displayMobileMenu {
  max-height: 50vh;
}