.root {
  width: 100%;
  height: 40vh;
  background-color: var(--main-color);
  color: white;
  padding: 0 5rem;
  display: flex;
}

.rightAlign {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.whiteIcon {
  color: white;
  padding-right: 2rem;
}

.emailFormContainer {
  padding-top: 1rem;
}

.iconsContainer {
  padding: 3rem 0;
}

.title {
  font-size: 2rem;
  padding: 3rem 0;
}

.text {
  font-size: 1.25rem;
  padding-bottom: 0.75rem;
}

/******************************************************************/

/* laptop */
@media (min-width: 741px) {
}

/******************************************************************/

/* mobile */
@media (max-width: 740px) {

}

