.container {
  position: relative;
  height: 82vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.picture {
  position: relative;
  height: 65vh;
  background-image: url('../../Images/School/1.jpg');
  background-position: 0% 65%;
  background-repeat: no-repeat;
  background-size: cover;
}

.pictureText {
  position: absolute;
  bottom: 1.5rem;
  left: 2rem;
  color: white;
  font-size: 2.25rem;
  line-height: 2.75rem;
  margin-right: 2rem;
  padding: 1rem;
  background-color: black;
  opacity: 0.7;
}

.textContainer {
  /* height is 18vh with button */
  height: 12vh;
  padding: 2rem;
  background-color: var(--main-color);
  color: white;
}

.textItems {
  display: flex;
  justify-content: space-between;
}

.boldText{
  font-weight: bold;
  font-size: 1.5rem
}

.descriptionText {
  opacity: 0.6;
  font-size: 0.75rem;
}

.learnMoreContainer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.triangle {
	position: absolute;
	background-color: var(--main-color);
  bottom: 9.25rem;
  left: 48%;
}
.triangle:before,
.triangle:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
.triangle,
.triangle:before,
.triangle:after {
	width:  1rem;
	height: 1rem;
	border-top-right-radius: 30%;
}

.triangle {
	transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
}
.triangle:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangle:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}