.optionButtons {
  padding: 0 20rem;
  display: flex;
  justify-content: space-between;
}

.buttonContainer {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
}

.selectedButtonContainer {
  border-radius: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconContainer {
  padding-left: 0.5rem;
}

.buttonTitle {
  font-size: 1.25rem;
  padding-right: 1.5rem;
}

.slides {
  transition-duration: 500ms;
  display: flex;
  width: 100vw;
  height: 60vh;
}

.slideContainer {
  flex-shrink: 0;
  padding: 2rem 0;
  display: flex;
}

.descriptionTextContainer {
  width: 55vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;;
}

.descriptionText {
  padding: 0 4rem;
  font-size: 1.5rem;
  color: white;
  line-height: 2.5rem;
}

.descriptionPicture {
  width: 45vw;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}