/* laptop */
@media (min-width: 741px) {
  .optionButtons {
    padding: 0 17rem;
    display: flex;
    justify-content: space-between;
  }

  .buttonContainer, .selectedButtonContainer {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    width: 15.5195rem;
  }

  .iconContainer {
    padding-left: 0.5rem;
  }

  .slides {
    transition-duration: 500ms;
    display: flex;
    width: 100vw;
    height: 60vh;
  }

  .slideContainer {
    flex-shrink: 0;
    padding-top: 2rem;
    display: flex;
  }

  .descriptionText {
    padding: 0 4rem;
    font-size: 1.5rem;
    color: white;
    line-height: 2.5rem;
  }
  
  .descriptionPicture {
    width: 45vw;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .descriptionTextContainer {
    width: 55vw;
  }
}

/* mobile */
@media (max-width: 740px) {
  .optionButtons {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 1rem 2rem 1rem;
  }

  .buttonContainer, .selectedButtonContainer {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  .slides {
    transition-duration: 500ms;
    display: flex;
    width: 100vw;
  }

  .slideContainer {
    display: flex;
    flex-direction: column-reverse;
    height: 80vh
  }

  .descriptionText {
    height: 50vh;
    padding: 0 1rem;
    font-size: 1.5rem;
    color: white;
    line-height: 2.5rem;
    display: flex;
    align-items: center;
  }
  
  .descriptionPicture {
    height: 30vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .descriptionTextContainer {
    width: 100vw;
  }
}

/* ************************************* */

.buttonTitle {
  font-size: 1.25rem;
  padding-right: 1.5rem;
}

.descriptionTextContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}